
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.bg {
  background: #f7f7f7;
  ;
}

* {
  scroll-behavior: smooth;
}

.main {
  width: full;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}


.button {
  background-color: #1856F3;
  color: #f7f7f7;
  width: 6.75rem;
  height: 2.5rem;
  font-size: large;
  border-radius: 8.5px;
}

.nav-text {
  color: #4f7df2e6;
  ;
}

.text-color {
  color: #1856F3;
  ;
}

.bg-hover:hover {
  color: #1856F3;
  text-decoration-line: underline;
  text-decoration-color: #1856F3;
}
